#chamada{
    padding:0
}
#chamada #texto{
    width:600px;
    padding-top:52px;
    float:left
}
#chamada #texto div{
    display:inline-block
}
#chamada #texto h2{
    margin:40px 0
}
#chamada #texto #bt-representante a{
    width:269px
}
#chamada #texto #disponibilidade{
    display:block;
    margin-top:40px
}
#chamada #texto #disponibilidade div{
    display:block
}
#chamada #texto #disponibilidade div .fa-whatsapp{
    font-size:30px;
    color:#fff;
    background:#25e47a;
    width:50px;
    padding:10px 0;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-right:5px
}
#chamada #texto #disponibilidade div .fa-mobile-phone{
    font-size:30px;
    color:#fff;
    background:#4b5081;
    width:50px;
    padding:10px 0;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-right:10px;
    margin-right:5px
}
#chamada #texto #disponibilidade div .fa-android{
    font-size:30px;
    color:#fff;
    background:#78c257;
    width:50px;
    padding:10px 0;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-right:5px
}
#chamada #texto #disponibilidade div .fa-instagram{
    font-size:30px;
    color:#fff;
    background:#d53c96;
    width:50px;
    padding:10px 0;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-right:5px
}
#chamada #texto #disponibilidade div .fa-facebook-official{
    font-size:30px;
    color:#fff;
    background:#0078f6;
    width:50px;
    padding:10px 0;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-right:5px
}
#chamada #texto #disponibilidade div .fa-telegram{
    font-size:30px;
    color:#fff;
    background:#5183a1;
    width:50px;
    padding:10px 0;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}
#chamada #texto #badge-api-oficial{
    display:block;
    margin-top:20px
}
#chamada #texto #badge-api-oficial div{
    display:block
}
#chamada #mockup{
    width:600px;
    float:right
}
#chamada #mockup-android{
    /*width:600px;
    float:right */
}
#chamada #mockup-android #embed{
    width:323px;
    height:580px;
    background:url("cell_2bba0a1ac063.png") top center no-repeat;
    padding-top: 12px;
    padding-left: 3px;
    margin:0 auto
}
#chamada #mockup-android #embed iframe{
    overflow:hidden;
    max-width:288px;
    margin-right:2px;
    height:497px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:30px
}
#chamada #mockup-android #embed #iframe_robo{
    display:initial
}
#chamada #mockup-android #embed #iframe_webapp{
    display:none
}
#chamada #mockup-android #modos{
    width:250px;
    background:#f4f5f7;
    margin:0 auto;
    border-left:2px solid #e3e6eb;
    border-right:2px solid #e3e6eb;
    border-bottom:2px solid #e3e6eb;
    padding:10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px
}
#chamada #mockup-android #whatsapp{
    margin-top:10px
} 